In [1]:
import pandas as pd
import numpy as np

In [16]:
#reading file with first column as index column and aslo skipping the first row
df = pd.read_csv("olympics.csv", index_col=0, skiprows=1)

In [17]:
df.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [18]:
df1=df.copy(deep=True)

In [19]:
df1.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [20]:
df1.columns

Index(['№ Summer', '01 !', '02 !', '03 !', 'Total', '№ Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', '№ Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

In [21]:
#renaming the columns
df1.rename(columns = {'№ Summer':'#Summer', '01 !': 'Gold', '02 !': 'Silver', '03 !': 'Bronze', 'Total': 'Total',
                      '№ Winter': '#Winter', '01 !.1': 'Gold.1','02 !.1': 'Silver.1', '03 !.1': 'Bronze.1', 'Total.1': 'Total.1',
                      '№ Games': '#Games', '01 !.2': 'Gold.2', '02 !.2': 'Silver.2', '03 !.2': 'Bronze.2',
                      'Combined total': 'Combined Total'}, inplace=True)

In [22]:
df1.columns

Index(['#Summer', 'Gold', 'Silver', 'Bronze', 'Total', '#Winter', 'Gold.1',
       'Silver.1', 'Bronze.1', 'Total.1', '#Games', 'Gold.2', 'Silver.2',
       'Bronze.2', 'Combined Total'],
      dtype='object')

In [23]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 147 entries, Afghanistan (AFG) to Totals
Data columns (total 15 columns):
#Summer           147 non-null int64
Gold              147 non-null int64
Silver            147 non-null int64
Bronze            147 non-null int64
Total             147 non-null int64
#Winter           147 non-null int64
Gold.1            147 non-null int64
Silver.1          147 non-null int64
Bronze.1          147 non-null int64
Total.1           147 non-null int64
#Games            147 non-null int64
Gold.2            147 non-null int64
Silver.2          147 non-null int64
Bronze.2          147 non-null int64
Combined Total    147 non-null int64
dtypes: int64(15)
memory usage: 17.8+ KB

In [24]:
df1.head()

,#Summer,Gold,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined Total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [25]:
df1.shape

(147, 15)

In [26]:
# dropping last row Totals
df1.drop(df1.tail(1).index,inplace=True)

In [27]:
df1.shape

(146, 15)

In [28]:
df1

,#Summer,Gold,Silver,Bronze,Total,#Winter,Gold.1,Silver.1,Bronze.1,Total.1,#Games,Gold.2,Silver.2,Bronze.2,Combined Total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
Bohemia (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
Botswana (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
British West Indies (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
Ivory Coast (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
Cyprus (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Spain (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
Sri Lanka (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
Sudan (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
Tajikistan (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
Tanzania (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
Togo (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
Tonga (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
Vietnam (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
Virgin Islands (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17

In [30]:
# Q.1. What is the first country in df?
# Ans. Afghanistan

# displaying label (country) of row of a index 0 i.e. first row
df.index.values[0]

'Afghanistan\xa0(AFG)'

In [31]:
# Q.2. Which country has won the most gold medals in summer games?
# Ans. United States

# displaying label (country) of row with maximum summer gold
df1['Gold'].idxmax()

'United States\xa0(USA) [P] [Q] [R] [Z]'

In [40]:
# Q.3. Which country had the biggest difference between their summer and winter gold medal counts?
# Ans. Unites States

summer_gold = list(df1['Gold'])
winter_gold = list(df1['Gold.1'])
result = []
for (i,j) in zip(summer_gold, winter_gold):
    result.append(abs(i-j))
index = result.index(max(result))
print(df1.iloc[index])
print("\nCountry:-")
print(df1.index.values[index])

#Summer             26
Gold               976
Silver             757
Bronze             666
Total             2399
#Winter             22
Gold.1              96
Silver.1           102
Bronze.1            84
Total.1            282
#Games              48
Gold.2            1072
Silver.2           859
Bronze.2           750
Combined Total    2681
Name: United States (USA) [P] [Q] [R] [Z], dtype: int64

Country:-
United States (USA) [P] [Q] [R] [Z]

In [41]:
# getting label of row of a given index
df1.index.values[2]

'Argentina\xa0(ARG)'

In [42]:
# Q.4. Which country has the biggest difference between their summer gold medal counts and winter gold medal counts 
# relative to their total gold medal count? 
# Only include countries that have won at least 1 gold in both summer and winter.
# Ans. Bulgaria

summer = list(df1['Gold'])
winter = list(df1['Gold.1'])
total = list(df1['Gold.2'])

result={}

for (i,j,k) in zip(range(len(summer)), range(len(winter)), range(len(total))):
    if(summer[i]>0 and winter[j]>0):
        r=abs((summer[i]-winter[j])/total[k])
        result[df1.index.values[i]] = r
print("Relative values:-")
for i in result:
    print('{}: {}'.format(i, result[i]))
m = max(result, key=result.get)
print("\n\nMax: {}".format(m))

Relative values:-
Australia (AUS) [AUS] [Z]: 0.9305555555555556
Austria (AUT): 0.5324675324675324
Belarus (BLR): 0.3333333333333333
Belgium (BEL): 0.9473684210526315
Bulgaria (BUL) [H]: 0.9615384615384616
Canada (CAN): 0.024793388429752067
China (CHN) [CHN]: 0.8873239436619719
Croatia (CRO): 0.2
Czech Republic (CZE) [CZE]: 0.3333333333333333
Czechoslovakia (TCH) [TCH]: 0.9215686274509803
Estonia (EST): 0.38461538461538464
Finland (FIN): 0.4125874125874126
France (FRA) [O] [P] [Z]: 0.7339055793991416
Germany (GER) [GER] [Z]: 0.38095238095238093
United Team of Germany (EUA) [EUA]: 0.5555555555555556
East Germany (GDR) [GDR]: 0.59375
West Germany (FRG) [FRG]: 0.6716417910447762
Great Britain (GBR) [GBR] [Z]: 0.9186991869918699
Italy (ITA) [M] [S]: 0.6851063829787234
Japan (JPN): 0.8571428571428571
Kazakhstan (KAZ): 0.8823529411764706
South Korea (KOR): 0.514018691588785
Netherlands (NED) [Z]: 0.3508771929824561
Norway (NOR) [Q]: 0.3563218390804598
Poland (POL): 0.8285714285714286
Russia (RUS) [RUS]: 0.4585635359116022
Soviet Union (URS) [URS]: 0.6701902748414377
Unified Team (EUN) [EUN]: 0.6666666666666666
Slovakia (SVK) [SVK]: 0.5555555555555556
Slovenia (SLO): 0.3333333333333333
Spain (ESP) [Z]: 0.9473684210526315
Sweden (SWE) [Z]: 0.48186528497409326
Switzerland (SUI): 0.030927835051546393
Ukraine (UKR): 0.8857142857142857
United States (USA) [P] [Q] [R] [Z]: 0.8208955223880597
Uzbekistan (UZB): 0.6666666666666666


Max: Bulgaria (BUL) [H]

In [52]:
# Q.5. Write a function that creates a Series called "Points" which is a weighted value where 
# each gold medal (Gold.2) counts for 3 points, silver medals (Silver.2) for 2 points, and bronze medals (Bronze.2) for 1 point.
# The function should return only the column (a Series object) which you created, with the country names as indices.
# (This function should return a Series named Points of length 146)
# Ans.

gold = list(df1['Gold.2'])
silver = list(df1['Silver.2'])
bronze = list(df1['Bronze.2'])

values = []

for (i,j,k) in zip(range(len(gold)), range(len(silver)), range(len(bronze))):
    r=3*gold[i] + 2*silver[j] + bronze[k]
    values.append(r)
    
series = pd.Series(values, index = list(df1.index), name="Points")
print(series)

Afghanistan (AFG)                                  2
Algeria (ALG)                                     27
Argentina (ARG)                                  130
Armenia (ARM)                                     16
Australasia (ANZ) [ANZ]                           22
Australia (AUS) [AUS] [Z]                        923
Austria (AUT)                                    569
Azerbaijan (AZE)                                  43
Bahamas (BAH)                                     24
Bahrain (BRN)                                      1
Barbados (BAR) [BAR]                               1
Belarus (BLR)                                    154
Belgium (BEL)                                    276
Bermuda (BER)                                      1
Bohemia (BOH) [BOH] [Z]                            5
Botswana (BOT)                                     2
Brazil (BRA)                                     184
British West Indies (BWI) [BWI]                    2
Bulgaria (BUL) [H]                               411
Burundi (BDI)                                      3
Cameroon (CMR)                                    12
Canada (CAN)                                     846
Chile (CHI) [I]                                   24
China (CHN) [CHN]                               1120
Colombia (COL)                                    29
Costa Rica (CRC)                                   7
Ivory Coast (CIV) [CIV]                            2
Croatia (CRO)                                     67
Cuba (CUB) [Z]                                   420
Cyprus (CYP)                                       2
                                                ...
Spain (ESP) [Z]                                  268
Sri Lanka (SRI) [SRI]                              4
Sudan (SUD)                                        2
Suriname (SUR) [E]                                 4
Sweden (SWE) [Z]                                1217
Switzerland (SUI)                                630
Syria (SYR)                                        6
Chinese Taipei (TPE) [TPE] [TPE2]                 32
Tajikistan (TJK)                                   4
Tanzania (TAN) [TAN]                               4
Thailand (THA)                                    44
Togo (TOG)                                         1
Tonga (TGA)                                        2
Trinidad and Tobago (TRI) [TRI]                   27
Tunisia (TUN)                                     19
Turkey (TUR)                                     191
Uganda (UGA)                                      14
Ukraine (UKR)                                    220
United Arab Emirates (UAE)                         3
United States (USA) [P] [Q] [R] [Z]             5684
Uruguay (URU)                                     16
Uzbekistan (UZB)                                  38
Venezuela (VEN)                                   18
Vietnam (VIE)                                      4
Virgin Islands (ISV)                               2
Yugoslavia (YUG) [YUG]                           171
Independent Olympic Participants (IOP) [IOP]       4
Zambia (ZAM) [ZAM]                                 3
Zimbabwe (ZIM) [ZIM]                              18
Mixed team (ZZX) [ZZX]                            38
Name: Points, Length: 146, dtype: int64