In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'C:\Users\Ankita\Desktop\ML\Datasets\cleaned_attrition.csv')

In [3]:
df.head()

,Unnamed: 0,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0,41,1,2,0.742527,2,1,2,1,2,...,3,1,0,8,0,1,6,4,0,-0.108350
1,1,49,0,1,-1.297775,1,8,1,1,3,...,4,4,1,10,3,3,10,7,1,-0.291719
2,2,37,1,2,1.414363,1,2,2,4,4,...,3,2,0,7,3,3,0,0,0,-0.937654
3,3,33,0,1,1.461466,1,3,4,1,4,...,3,3,0,8,3,3,8,7,3,-0.763634
4,4,27,0,2,-0.524295,1,2,1,3,1,...,3,4,1,6,3,3,2,2,2,-0.644858

In [4]:
df.drop(df.columns[0], axis='columns', inplace=True)
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,2,0.742527,2,1,2,1,2,0,...,3,1,0,8,0,1,6,4,0,-0.108350
1,49,0,1,-1.297775,1,8,1,1,3,1,...,4,4,1,10,3,3,10,7,1,-0.291719
2,37,1,2,1.414363,1,2,2,4,4,1,...,3,2,0,7,3,3,0,0,0,-0.937654
3,33,0,1,1.461466,1,3,4,1,4,0,...,3,3,0,8,3,3,8,7,3,-0.763634
4,27,0,2,-0.524295,1,2,1,3,1,1,...,3,4,1,6,3,3,2,2,2,-0.644858

In [5]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [6]:
X=df.drop(columns=['Attrition'])
X.head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,2,0.742527,2,1,2,1,2,0,1.383138,...,3,1,0,8,0,1,6,4,0,-0.108350
1,49,1,-1.297775,1,8,1,1,3,1,-0.240677,...,4,4,1,10,3,3,10,7,1,-0.291719
2,37,2,1.414363,1,2,2,4,4,1,1.284725,...,3,2,0,7,3,3,0,0,0,-0.937654
3,33,1,1.461466,1,3,4,1,4,0,-0.486709,...,3,3,0,8,3,3,8,7,3,-0.763634
4,27,2,-0.524295,1,2,1,3,1,1,-1.274014,...,3,4,1,6,3,3,2,2,2,-0.644858

In [7]:
Y=df['Attrition']
Y.head()

0    1
1    0
2    1
3    0
4    0
Name: Attrition, dtype: int64

In [8]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [9]:
X_train.shape

(1176, 30)

In [10]:
X_test.shape

(294, 30)

In [28]:
model=RandomForestClassifier(n_estimators=40,criterion="gini",max_depth=3,bootstrap=True)

In [29]:
model.fit(X_train, Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=3, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=40, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [30]:
Y_pred_train = model.predict(X_train)
Y_pred_test = model.predict(X_test)

In [31]:
ac_train = accuracy_score(Y_train, Y_pred_train)
ac_train

0.8486394557823129

In [32]:
ac_test = accuracy_score(Y_test, Y_pred_test)
ac_test

0.8707482993197279

## Bagging Clssifier

In [41]:
from sklearn.ensemble import BaggingClassifier
from sklearn.neighbors import KNeighborsClassifier

In [35]:
knn = KNeighborsClassifier(n_neighbors=4)

In [36]:
model=BaggingClassifier(base_estimator=knn,n_estimators=20,bootstrap=True)

In [37]:
model.fit(X_train, Y_train)

BaggingClassifier(base_estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=4, p=2,
           weights='uniform'),
         bootstrap=True, bootstrap_features=False, max_features=1.0,
         max_samples=1.0, n_estimators=20, n_jobs=None, oob_score=False,
         random_state=None, verbose=0, warm_start=False)

In [38]:
Y_pred_train = model.predict(X_train)
Y_pred_test = model.predict(X_test)

In [39]:
ac_train = accuracy_score(Y_train, Y_pred_train)
ac_train

0.8562925170068028

In [40]:
ac_test = accuracy_score(Y_test, Y_pred_test)
ac_test

0.8571428571428571

Bagging classifier with KNN models gives better accuracy